* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 900px;
  border: red 1px solid;
}

section {
  flex-wrap: wrap;
  justify-content: space-evenly;
  display: flex;
}

img {
  margin: 8px 0;
}
